@media screen and (max-width: 600px) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
        justify-content: space-between;
        margin: 0 3rem;
        padding: 1rem 2%;
        align-items: center;
    }

    .hamburger-icon {
        height: 20px;
        width: 20px;
    }
    .menu-items a{
        font-size: 1.2rem;
        padding: 0.5rem;
    }
    .menu-items.open{
        max-height: 220px;
    }
    .logo {
        padding: 0 1vw 0 1vw;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 1rem 0;
    }

    section {
        flex-direction: column-reverse;
    }

    .profile-info {
        width: 300px;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .profile h1 {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .profile p {
        font-size: 1rem;
    }

    .profile-img {
        width: 200px;
        height: 200px;
    }

    .btn-container {
        justify-content: center;
    }

    .profile-img {
        width: 200px;
        height: 200px;
    }

    .section {
        padding: 1rem;
        margin: 0 1rem;
        gap: 2rem;
        margin-top: 2rem;
    }

    .profile-img2 {
        width: 180px;
        height: 180px;
    }

    .section-header {
        width: 300px;
        align-self: center;
        justify-content: center;
    }

    .section-header p {
        font-size: 1rem;
        width: 300px;
        text-align: center;
        font-weight: 400;
    }

    .sub-container {
        width: 300px;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
    }

    .content-container {
        width: 320px;
        font-size: 1rem;
        text-align: center;
    }

    .content-container p {
        margin-top: 1rem;
        font-size: 0.9rem;
        text-align: center;
    }

    .section h1 {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .section h2 {
        font-size: 1.2rem;
        font-weight: 600;
    }

    .section h4 {
        font-size: 1rem;
        font-weight: 600;
    }

    .upper-text {
        font-size: 1rem;
    }

    #education{
        height: 100vh;
    }
    .edu-container {
        width: 350px;
        height: 150px;
        border-radius: 1rem;
    }

    .degree {
        font-size: 1.1rem;
        width: 200px;
    }

    .institute {
        font-size: 0.9rem;
        width: 200px;
    }

    .year {
        font-size: 0.9rem;
    }

    .img-container {
        width: 200px;
        height: 120px;
    }
    #skills{
        justify-content: center;
        gap: 1rem;
    }
    .skill-container {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        gap: 1rem;
    }
    .skill{
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        align-items: center;
        width: 90px;
        height: 80px;
        font-size: 1rem;
        gap: 0.3rem;
    }
    .skill img{
        width: 50px;
        height: 50px;
        gap: 1rem;
    }
    #projects{  
        margin-top: 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 140vh;
        gap: 1rem;
            
    }
    .project-container{
        flex-direction: column;
        gap:1rem;
        align-items: center;
    }
    .project{
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 300px;
        height: 250px;
    }
    .project-img{
        height: 100px;
        width: 300px;
    }
    .project-content h3{
        font-size: 0.9rem;
        
    }
    .project-content p{
        font-size: 0.7rem;
    }
    .project-links a{
       font-size: 0.8rem;
       padding: 0.5rem;
    }
    .cart{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
       margin-bottom: 1rem;
    }
    #contact{
        height: 105vh;
        gap: 1rem;
    }
    .contact-container{
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem;
        border-radius: 2rem;
        align-items: center;
        justify-content: center;
       
    }
    .image-box img{
        width: 200px;
        height: 200px;
    }
    .field{
        flex-direction: row-reverse;
        gap: 0.5rem;
    }
    .message{
        flex-direction:row-reverse;
        gap: 0.5rem;
    }
    .field i{
        font-size: 1rem; 
    }
    .message i{
        font-size: 1rem;
    }
    .field input{
        width: 250px;
        font-size: 0.8rem;
        padding: 0.7rem;
    }
    .message textarea{
        width: 250px;
        height: 100px;
        font-size: 0.8rem;
        padding: 0.7rem;
    }
    .button-area button{
        font-size: 0.8rem;
    }
    footer{
        flex-direction: column;
        gap: 1rem;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        padding: 2rem 6%;
    }
    footer div{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    footer h3{
        font-size: 1.2rem;
        font-weight: 500;
    }
    footer .box1 p{
        font-size: 0.8rem;
    }
     .box3 p span{
        font-size: 0.8rem;
    }
    footer .box2{
        display: none;
    }
    .box1{
        text-align: center;
    }
   .box3{
    align-items: center;
        justify-content: center;
    }
    .box3 .share a{
        font-size: 1rem;
    }
    .share{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        gap: 0.5rem;
    
    }
    footer .box3 .share a{
        font-size: 1rem;
    }
    .copy{
        font-size: 0.6rem;
    }
}
